.header {
    background-color: #00000a;
    color: #00ffff;
    padding: 24px;

    &__content {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 80px;
        width: auto;
        margin-right: 15px;
    }

    &__title {
        font-family: 'Audiowide', cursive;
        font-size: 24px;
        margin: 0;
    }
}
